

/* variables */
:root{
  --main-background-color: #FFF;
  --main-color: #000;
  --main-border-color: #eee;
}

.dark-theme{
  --main-background-color: #000;
  --main-color: #FFF;
  --main-border-color: #eeeeee1a;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
